
<!-- Core -->
<script src="{{ config.ASSETS_ROOT }}/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="{{ config.ASSETS_ROOT }}/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Simplebar -->
<script src="{{ config.ASSETS_ROOT }}/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons 
<script async defer src="https://buttons.github.io/buttons.js"></script>
-->f
<!-- Volt JS -->
<script src="{{ config.ASSETS_ROOT }}/js/volt.js"></script>
