        <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
            <a class="navbar-brand me-lg-5" href="/">
                <img class="navbar-brand-dark" src="{{ config.ASSETS_ROOT }}/img/brand/light.svg" alt="Volt logo" /> <img class="navbar-brand-light" src="{{ config.ASSETS_ROOT }}/img/brand/dark.svg" alt="Volt logo" />
            </a>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
          <div class="sidebar-inner px-4 pt-3">
            <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
              <div class="d-flex align-items-center">
                <div class="avatar-lg me-4">
                  <img src="{{ config.ASSETS_ROOT }}/img/technologies/postgresql.jpg" class="card-img-top rounded-circle border-white"
                    alt="pgAssistant">
                </div>
                <div class="d-block">
                  <h2 class="h5 mb-3">Pg Assistant</h2>
                  <a href="/database.html" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                    <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>            
                    Settings
                  </a>
                </div>
              </div>
              <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </a>
              </div>
            </div>
            <ul class="nav flex-column pt-3 pt-md-0">
              <li class="nav-item">
                <a href="/database.html" class="nav-link d-flex align-items-center">
                  <span class="sidebar-icon">
                    <img src="{{ config.ASSETS_ROOT }}/img/brand/light.svg" height="20" width="20" alt="Volt Logo">
                  </span>
                  <span class="mt-1 ms-1 sidebar-text">Pg Assistant</span>
                </a>
              </li>
              {% if session['db_host'] %}
              <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a href="/dashboard.html" class="nav-link">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                  </span> 
                  <span class="sidebar-text">Dashboard</span>
                </a>
              </li>
              <li class="nav-item {% if 'table_rfc' in segment %} active {% endif %}">
                <a href="/table_rfc.html" class="nav-link">
                  <span class="sidebar-icon">
                  <svg class="icon icon-xs me-2" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 6.878V6a2.25 2.25 0 0 1 2.25-2.25h7.5A2.25 2.25 0 0 1 18 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 0 0 4.5 9v.878m13.5-3A2.25 2.25 0 0 1 19.5 9v.878m0 0a2.246 2.246 0 0 0-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0 1 21 12v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6c0-.98.626-1.813 1.5-2.122"></path>
                  </svg>                                    
                  </span>
                  <span class="sidebar-text">Table definition helper</span>
                </a>
              </li>              
              <li class="nav-item {% if 'topqueries' in segment %} active {% endif %}">
                <a href="/topqueries.html" class="nav-link">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"></path><path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd"></path></svg>
                  </span>
                  <span class="sidebar-text">Top queries</span>
                </a>
              </li>
              <li class="nav-item {% if 'rankqueries' in segment %} active {% endif %}">
                <a href="/rankqueries.html" class="nav-link">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8.288 15.038a5.25 5.25 0 0 1 7.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"></path></svg>
                  </span>
                  <span class="sidebar-text">Rank queries</span>
                </a>
              </li>
              <li class="nav-item {% if 'stats' in segment %} active {% endif %}">
                <a href="/stats.html" class="nav-link">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2.25 15a4.5 4.5 0 0 0 4.5 4.5H18a3.75 3.75 0 0 0 1.332-7.257 3 3 0 0 0-3.758-3.848 5.25 5.25 0 0 0-10.233 2.33A4.502 4.502 0 0 0 2.25 15Z" clip-rule="evenodd"></path></svg>
                  </span>
                  <span class="sidebar-text">Statistics</span>
                </a>
              </li>              
              {% endif %}
              <li class="nav-item {% if 'database.html' in segment %} active {% endif %}">
                <a href="/database.html" class="nav-link">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                  </span>
                  <span class="sidebar-text">Settings</span>
                </a>
              </li>
              {% if session['db_host'] %}
              <li class="nav-item {% if 'database_' in segment %} active {% endif %}">
                <span
                  class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                  data-bs-toggle="collapse" data-bs-target="#submenu-db">
                  <span>
                    <span class="sidebar-icon">
                      <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                    </span> 
                    <span class="sidebar-text">Database</span>
                  </span>
                  <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </span>
                </span>
                <div class="multi-level collapse {% if 'database_' in segment %} show {% endif %}"
                  role="list" id="submenu-db" aria-expanded="false">
                  <ul class="flex-column nav">              
                    <li class="nav-item {% if 'database_modules' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/database_modules">
                        <span class="sidebar-text">Modules</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'database_settings' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/database_settings">
                        <span class="sidebar-text">All Settings</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'database_archive_settings' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/database_archive_settings ">
                        <span class="sidebar-text">Archive Settings</span>
                      </a>
                    </li>    
                                
                    <li class="nav-item {% if 'database_activity' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/database_activity">
                        <span class="sidebar-text">Activity</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'database_schemas' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/database_schemas">
                        <span class="sidebar-text">Schemas</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'database_conflicts' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/database_conflicts">
                        <span class="sidebar-text">Conflicts</span>
                      </a>
                    </li>                    
                  </ul>
                </div>
              </li>

              <li class="nav-item {% if 'table_' in segment %} active {% endif %}">
                <span
                  class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                  data-bs-toggle="collapse" data-bs-target="#submenu-tables">
                  <span>
                    <span class="sidebar-icon">
                      <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
                    </span> 
                    <span class="sidebar-text">Tables</span>
                  </span>
                  <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </span>
                </span>
                <div class="multi-level collapse {% if 'table_' in segment %} show {% endif %}"
                  role="list" id="submenu-tables" aria-expanded="false">
                  <ul class="flex-column nav">              
                    <li class="nav-item {% if 'table_io' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/table_io">
                        <span class="sidebar-text">Tables statistics</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'table_size' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/table_size">
                        <span class="sidebar-text">Tables size</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'table_columns_stats' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/table_columns_stats">
                        <span class="sidebar-text">Tables columns stats</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item {% if 'index_' in segment %} active {% endif %}">
                <span
                  class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                  data-bs-toggle="collapse" data-bs-target="#submenu-pages">
                  <span>
                    <span class="sidebar-icon">
                      <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
                    </span> 
                    <span class="sidebar-text">Indexes</span>
                  </span>
                  <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </span>
                </span>
                <div class="multi-level collapse {% if 'index_' in segment %} show {% endif %} " role="list"
                  id="submenu-pages" aria-expanded="false">
                  <ul class="flex-column nav">
                    <li class="nav-item {% if 'index_definition' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/index_definition">
                        <span class="sidebar-text">All indexes</span>
                      </a>
                    </li>                    
                    <li class="nav-item {% if 'index_seqscan' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/index_seqscan">
                        <span class="sidebar-text">Sequential scans</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'index_unused' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/index_unused">
                        <span class="sidebar-text">Unused indexes</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'index_usage' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/index_usage">
                        <span class="sidebar-text">Indexes usage</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'index_io' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/index_io">
                        <span class="sidebar-text">Indexes IO</span>
                      </a>
                    </li>                                        
                  </ul>
                </div>
              </li>
              <li class="nav-item {% if 'issue_' in segment %} active {% endif %}">
                <span
                  class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                  data-bs-toggle="collapse" data-bs-target="#submenu-issue">
                  <span>
                    <span class="sidebar-icon">
                      <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path><path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    </span> 
                    <span class="sidebar-text">Issues</span>
                  </span>
                  <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </span>
                </span>
                <div class="multi-level collapse {% if 'issue_' in segment %} show {% endif %}" role="list"
                  id="submenu-issue" aria-expanded="false">
                  <ul class="flex-column nav">
                    <li class="nav-item {% if 'issue_no_pk' in segment %} active {% endif %}">
                      <a class="nav-link" href="/primary_key.html">
                        <span class="sidebar-text">Tables without PK</span>
                      </a>
                    </li> 
                    <li class="nav-item {% if 'issue_idx_redundant' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/issue_idx_redundant">
                        <span class="sidebar-text">Redundant Indexes</span>
                      </a>
                    </li>    
                    <li class="nav-item {% if 'issue_idx_fk_datatype' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/issue_idx_fk_datatype">
                        <span class="sidebar-text">Wrong data types on FK</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'issue_idx_fk_missing' in segment %} active {% endif %}">
                      <a class="nav-link" href="/generic/issue_idx_fk_missing">
                        <span class="sidebar-text">Missing indexes on FK</span>
                      </a>
                    </li>                    
                  </ul>
                </div>
              </li>
              <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
              <li class="nav-item">
                <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs text-danger me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                        </svg> 
                    </span>
                    <span class="sidebar-text">Logout</span>
                </a>
              </li> 
              {% endif %}           
              <li class="nav-item">
                <a target="_blank" 
                   href="https://beh74.github.io/pgassistant-blog/"
                   class="btn btn-secondary d-flex align-items-center justify-content-center btn-upgrade-pro"> 
                  <span>Documentation</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>