services:
  pgassistant:
    image: nexsoltech/pgassistant:latest
    restart: always
    environment:
      - OPENAI_API_KEY=nothing
      - OPENAI_API_MODEL=codestral:latest
      - LOCAL_LLM_URI=http://host.docker.internal:11434/v1/
      - SECRET_KEY=mySecretKeyforPGAssistant
    ports:
      - "8080:5005"
    volumes:
      - ./myqueries.json:/home/pgassistant/myqueries.json

# tips
# with ollama, you should test the codestral model giving good results
# if you run ollama localy, don't forget to export this environment variable : OLLAMA_HOST=0.0.0.0:11434 and then run ollama serve
