{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">

        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <svg class="icon" data-slot="icon" fill="none" stroke="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a target="blanck" href="https://www.postgresql.org/docs/release/">
                                <h2 class="h6 text-gray-400 mb-0">Database version</h2>
                                <h3 class="fw-extrabold mb-2">{{ dbinfo['version'] }}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                                <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Database size</h2>
                                <h3 class="fw-extrabold mb-2">{{ dbinfo['size'] }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                                <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0"> Hit Cache Ratio</h2>
                                <a href="/cache_table.html" class="d-flex align-items-center fw-bold">
                                    <svg class="icon icon-xs text-gray-500 me-2" viewBox="0 0 20 20" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6"></path>
                                    </svg>
                                
                        
                                    <!-- Condition pour afficher une icône en fonction de la valeur du cache hit ratio -->
                                    <div class="d-flex align-items-center">
                                        <h3 class="fw-extrabold mb-2">{{ dbinfo['cache'] }} %</h3>
                                        
                                        <!-- hit ratio ICON -->
                                        {% if dbinfo['cache'] >= 99 %}
                                            <svg class="icon icon-sm text-success ms-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <path d="M9 12l2 2 4-4"></path>
                                            </svg> <!-- ✅ Excellent) -->
                                        {% elif dbinfo['cache'] >= 95 %}
                                            <svg class="icon icon-sm text-primary ms-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <path d="M9 12h6"></path>
                                            </svg> <!-- 👍 Good -->
                                        {% elif dbinfo['cache'] >= 90 %}
                                            <svg class="icon icon-sm text-warning ms-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <path d="M12 8v4m0 4h.01"></path>
                                            </svg> <!-- ⚠️ Average  -->
                                        {% else %}
                                            <svg class="icon icon-sm text-danger ms-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <line x1="9" y1="9" x2="15" y2="15"></line>
                                                <line x1="15" y1="9" x2="9" y2="15"></line>
                                            </svg> <!-- ❌ Poor -->
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 col-xxl-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                            <h2 class="fs-5 fw-bold mb-0">Profile - Calls</h2>
                              <a href="/generic/database_profile" class="btn btn-sm btn-primary">See all</a>
                          </div>
                        <div class="card-body">
                            <!-- Profile - Calls -->
                            {% for table in dbinfo['profile'] %}
                            <div class="row align-items-center mb-3">
                                <div class="col-auto text-dark"> 
                                        <svg 
                                        width="24" 
                                        height="24" 
                                        data-slot="icon" 
                                        fill="none" 
                                        stroke-width="1.5" 
                                        stroke="currentColor"
                                        style="color: grey;" 
                                        viewBox="0 0 24 24" 
                                        xmlns="http://www.w3.org/2000/svg" 
                                        aria-hidden="true"
                                        >
                                            <path 
                                            stroke-linecap="round" 
                                            stroke-linejoin="round" 
                                            {% if table['query_type']=='select' %}
                                            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Zm3.75 11.625a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
                                            {% elif table['query_type']=='insert' %}
                                            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
                                            {% elif table['query_type']=='update' %}
                                            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
                                            {% else %}
                                            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m6.75 12H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
                                            {% endif %} 
                                            </path>
                                        </svg>
                                </div>                                    
                                <div class="col">
                                    <div class="progress-wrapper">            
                                        {% if table['query_type']=='select' %}
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span>{{ table['query_type'] }} </span>
                                            </div>
                                            <div class="progress-percentage">
                                                <span>{{ table['percentage_calls'] }} % ({{ table['total_calls'] }} calls)</span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: {{ table['percentage_calls'] }}%;" aria-valuenow="{{ table['percentage_calls'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        {% elif table['query_type']=='insert' %}
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span class="text-success">{{ table['query_type'] }}</span>
                                                
                                            </div>
                                            <div class="progress-percentage">
                                                <span>{{ table['percentage_calls'] }} % ({{ table['total_calls'] }} calls)</span>

                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ table['percentage_calls'] }}%;" aria-valuenow="{{ table['percentage_calls'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        {% elif table['query_type']=='update' %}
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span class="text-secondary">{{ table['query_type'] }}</span>
                                            </div>
                                            <div class="progress-percentage">
                                                <span>{{ table['percentage_calls'] }} % ({{ table['total_calls'] }} calls)</span>
                                             
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ table['percentage_calls'] }}%;" aria-valuenow="{{ table['percentage_calls'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        {% else %}
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span class="text-danger">{{ table['query_type'] }}</span>
                                            </div>
                                            <div class="progress-percentage">
                                                <span>{{ table['percentage_calls'] }} % ({{ table['total_calls'] }} calls)</span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ table['percentage_calls'] }}%;" aria-valuenow="{{ table['percentage_calls'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>        
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xxl-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                            <h2 class="fs-5 fw-bold mb-0">Profile - Time consume</h2>
                              <a href="/generic/database_profile" class="btn btn-sm btn-primary">See all</a>
                          </div>
                        <div class="card-body">
                            <!-- Project 1 -->
                            {% for table in dbinfo['profile'] %}
                            <div class="row align-items-center mb-3">
                                <div class="col-auto text-dark"> 
                                        <svg 
                                        width="24" 
                                        height="24" 
                                        data-slot="icon" 
                                        fill="none" 
                                        stroke-width="1.5" 
                                        stroke="currentColor"
                                        style="color: grey;" 
                                        viewBox="0 0 24 24" 
                                        xmlns="http://www.w3.org/2000/svg" 
                                        aria-hidden="true"
                                        >
                                            <path 
                                            stroke-linecap="round" 
                                            stroke-linejoin="round" 
                                            {% if table['query_type']=='select' %}
                                            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Zm3.75 11.625a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
                                            {% elif table['query_type']=='insert' %}
                                            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
                                            {% elif table['query_type']=='update' %}
                                            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
                                            {% else %}
                                            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m6.75 12H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
                                            {% endif %} 
                                            </path>
                                        </svg>
                                </div>
                                <div class="col">
                                    <div class="progress-wrapper">
                                        {% if table['query_type']=='select' %}
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span>{{ table['query_type'] }} </span>
                                            </div>
                                            <div class="progress-percentage">
                                                <span>{{ table['percentage_exec_time'] }} % </span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: {{ table['percentage_exec_time'] }}%;" aria-valuenow="{{ table['percentage_exec_time'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        {% elif table['query_type']=='insert' %}
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span class="text-success">{{ table['query_type'] }}</span>
                                                
                                            </div>
                                            <div class="progress-percentage">
                                                <span>{{ table['percentage_exec_time'] }} % </span>

                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ table['percentage_exec_time'] }}%;" aria-valuenow="{{ table['percentage_exec_time'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        {% elif table['query_type']=='update' %}
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span class="text-secondary">{{ table['query_type'] }}</span>
                                            </div>
                                            <div class="progress-percentage">
                                                <span>{{ table['percentage_exec_time'] }} % </span>
                                             
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ table['percentage_exec_time'] }}%;" aria-valuenow="{{ table['percentage_exec_time'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        {% else %}
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span class="text-danger">{{ table['query_type'] }}</span>
                                            </div>
                                            <div class="progress-percentage">
                                                <span>{{ table['percentage_exec_time'] }} % </span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ table['percentage_exec_time'] }}%;" aria-valuenow="{{ table['percentage_exec_time'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>        
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xxl-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                            <h2 class="fs-5 fw-bold mb-0">Top 5 tables</h2>
                              <a href="/generic/table_size" class="btn btn-sm btn-primary">See all</a>
                          </div>
                        <div class="card-body">
                            <!-- Tables-->
                            {% for table in dbinfo['table_size'] %}
                            <div class="row align-items-center mb-3">
                               <div class="col-auto text-dark"> 
                                    <svg 
                                    width="24" 
                                    height="24" 
                                    data-slot="icon" 
                                    fill="none" 
                                    stroke-width="1.5" 
                                    stroke="currentColor"
                                    style="color: blue;" 
                                    viewBox="0 0 24 24" 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    aria-hidden="true"
                                    >
                                        <path 
                                        stroke-linecap="round" 
                                        stroke-linejoin="round" 
                                        d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z">
                                        ></path>
                                    </svg>
                                </div>

                                <div class="col">
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="h6 mb-0">{{ table['table_name'] }}</div>
                                            <div class="small fw-bold text-gray-500"><span> {{ table['size'] }} (<small>≈{{ table['row_count'] }} rows)</small></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xxl-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                            <h2 class="fs-5 fw-bold mb-0">Top 5 clients</h2>
                              <a href="/generic/database_activity_grouped" class="btn btn-sm btn-primary">See all</a>
                          </div>
                        <div class="card-body">
                            <!-- Cients -->
                            {% for client in dbinfo['top_clients'] %}
                            <div class="row align-items-center mb-3">
                                <div class="col-auto text-dark"> 
                                    <svg 
                                    width="24" 
                                    height="24" 
                                    data-slot="icon" 
                                    fill="none" 
                                    stroke-width="1.5" 
                                    stroke="currentColor"
                                    style="color: green;" 
                                    viewBox="0 0 24 24" 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    aria-hidden="true"
                                    >
                                        <path 
                                        stroke-linecap="round" 
                                        stroke-linejoin="round" 
                                        d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25">
                                        ></path>
                                    </svg>
                                </div>
                                <div class="col">
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="h6 mb-0">{{ client['client_addr'] }}</div>
                                            <div class="small fw-bold text-gray-500"><span> {{ client['total_connections'] }} connection(s)</span></div>
                                            <div class="small fw-bold text-gray-500"><span> {{ client['active_connections'] }} active(s)</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                            {% endfor %}
                        </div>
                    </div>
                </div>    
            
            </div>
        </div>
        <div class="col-12 col-xl-4">
            
            <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                            <div>
                                <div class="h6 mb-0 d-flex align-items-center">
                                    <svg class="icon icon-xs text-gray-500 me-2" fill="green" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6" clip-rule="evenodd"></path></svg>
                                    Connections
                                </div>
                            </div>
                            <div>
                                <a href="/generic/database_activity" class="d-flex align-items-center fw-bold">
                                    {{ dbinfo['connexions'] }} / {{ dbinfo['max_connexions'] }}
                                    <svg class="icon icon-xs text-gray-500 me-2"  viewBox="0 0 20 20" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom py-3">
                            <div>
                                <div class="h6 mb-0 d-flex align-items-center">
                                    <svg class="icon icon-xs text-gray-500 me-2" fill="red" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 6a3 3 0 013-3h10a1 1 0 01.8 1.6L14.25 8l2.55 3.4A1 1 0 0116 13H6a1 1 0 00-1 1v3a1 1 0 11-2 0V6z" clip-rule="evenodd"></path></svg>
                                    Conflicts
                                </div>
                            </div>
                            <div>
                                <a href="/generic/database_conflicts" class="d-flex align-items-center fw-bold">
                                    {{ dbinfo['conflicts'] }}
                                <svg class="icon icon-xs text-gray-500 me-2"  viewBox="0 0 20 20" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6"></path>
                                </svg>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pt-3">
                            <div>
                                <div class="h6 mb-0 d-flex align-items-center">
                                    <svg class="icon icon-xs text-gray-500 me-2" fill="blue" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1H8a3 3 0 00-3 3v1.5a1.5 1.5 0 01-3 0V6z" clip-rule="evenodd"></path><path d="M6 12a2 2 0 012-2h8a2 2 0 012 2v2a2 2 0 01-2 2H2h2a2 2 0 002-2v-2z"></path></svg>
                                    Running queries
                                </div>

                            </div>
                            <div>
                                <a href="/generic/database_running_queries" class="d-flex align-items-center fw-bold">
                                    #2
                                    <svg class="icon icon-xs text-gray-500 me-2"  viewBox="0 0 20 20" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6"></path>
                                    </svg>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12 px-0 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                            <h2 class="fs-5 fw-bold mb-0">Issues on schema</h2>
                              
                          </div>
                        <div class="card-body">
                            <!-- Issues -->
                            <div class="row align-items-center mb-3">
                                <div class="col-auto text-dark">
                                    <svg 
                                    width="24" 
                                    height="24" 
                                    data-slot="icon" 
                                    fill="none" 
                                    stroke-width="1.5" 
                                    stroke="currentColor"
                                    {% if dbinfo['issue_no_pk'] > 0 %}
                                    style="color: red;" 
                                    {% endif %}
                                    viewBox="0 0 24 24" 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    aria-hidden="true"
                                    >
                                        <path 
                                        stroke-linecap="round" 
                                        stroke-linejoin="round" 
                                        d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z"
                                        ></path>
                                    </svg>
                                </div>
                                <div class="col">
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="h6 mb-0"><a href="/generic/issue_no_pk">Tables without primary keys</a></div>
                                            <div class="small fw-bold text-gray-500"><span> {{ dbinfo['issue_no_pk'] }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                            <div class="row align-items-center mb-3">
                                <div class="col-auto text-dark"> 
                                    <svg 
                                    width="24" 
                                    height="24" 
                                    data-slot="icon" 
                                    fill="none" 
                                    stroke-width="1.5" 
                                    stroke="currentColor"
                                    {% if dbinfo['issue_idx_fk_missing'] > 0 %}
                                    style="color: red;" 
                                    {% endif %}
                                    viewBox="0 0 24 24" 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    aria-hidden="true"
                                    >
                                        <path 
                                        stroke-linecap="round" 
                                        stroke-linejoin="round" 
                                        d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z"
                                        ></path>
                                    </svg>
                                </div>
                                <div class="col">
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="h6 mb-0"><a href="/generic/issue_idx_fk_missing">Missing indexes on foreign keys</a></div>
                                            <div class="small fw-bold text-gray-500"><span> {{ dbinfo['issue_idx_fk_missing'] }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row align-items-center mb-3">
                                <div class="col-auto text-dark"> 
                                    <svg 
                                    width="24" 
                                    height="24" 
                                    data-slot="icon" 
                                    fill="none" 
                                    stroke-width="1.5" 
                                    stroke="currentColor"
                                    {% if dbinfo['issue_idx_redundant'] > 0 %}
                                    style="color: red;" 
                                    {% endif %}
                                    viewBox="0 0 24 24" 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    aria-hidden="true"
                                    >
                                        <path 
                                        stroke-linecap="round" 
                                        stroke-linejoin="round" 
                                        d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z"
                                        ></path>
                                    </svg>
                                </div>
                                <div class="col">
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="h6 mb-0"><a href="/generic/issue_idx_redundant">Redundants indexes</a></div>
                                            <div class="small fw-bold text-gray-500"><span> {{ dbinfo['issue_idx_redundant'] }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center mb-3">
                                <div class="col-auto text-dark"> 
                                    <svg 
                                    width="24" 
                                    height="24" 
                                    data-slot="icon" 
                                    fill="none" 
                                    stroke-width="1.5" 
                                    stroke="currentColor"
                                    {% if dbinfo['issue_idx_fk_datatype'] > 0 %}
                                    style="color: red;" 
                                    {% endif %}
                                    viewBox="0 0 24 24" 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    aria-hidden="true"
                                    >
                                        <path 
                                        stroke-linecap="round" 
                                        stroke-linejoin="round" 
                                        d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z"
                                        ></path>
                                    </svg>
                                </div>
                                <div class="col">
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="h6 mb-0"><a href="/generic/issue_idx_fk_datatype">Datatype on foreign keys are different</a></div>
                                            <div class="small fw-bold text-gray-500"><span> {{ dbinfo['issue_idx_fk_datatype'] }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                                         
                        </div>
                    </div>
                </div>   
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
