{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ config.ASSETS_ROOT }}/css/dataTables.dataTables.css">
{% endblock stylesheets %}

{% block content %}

  <div class="py-4">

      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Rank queries</h1>
              <p class="mb-0">optimization_score_percentage is calculated with execution_time_percentage (60% weight) and cache_ratio_percentage (40% weight)</p>
          </div>
        </div>
  </div>

  <div class="card border-0 shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
          <table class="table table-striped" style="width:100%" id="topqueries" >
              <thead class="thead-light">
                  <tr>
                    <th>Analyze</th>
                      {%for row in rows[0]: %}
                      <th>{{ row }}</th>                     
                      {% endfor %}
                  </tr>
              </thead>
              <tbody>
                  <!-- Item -->
                  {%for row in rows: %}
                  <tr>
                  {% set x = namespace(value=0) %}     
                    
                  {%for value in row %}
                  {% set x.value = x.value + 1 %}                              
                        {% if x.value == 1 %}
                        
                        {% if 'EXPLAIN ANALYZE' not in row[value] %}
                        <td style="word-wrap: break-word;min-width: 10px;max-width: 360px; white-space: normal">
                            <button onclick="location.href='/analyze/{{ row['queryid'] }}'" type="button" class="btn btn-info d-inline-flex align-items-center">
                                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 11.25 1.5 1.5.75-.75V8.758l2.276-.61a3 3 0 1 0-3.675-3.675l-.61 2.277H12l-.75.75 1.5 1.5M15 11.25l-8.47 8.47c-.34.34-.8.53-1.28.53s-.94.19-1.28.53l-.97.97-.75-.75.97-.97c.34-.34.53-.8.53-1.28s.19-.94.53-1.28L12.75 9M15 11.25 12.75 9">
                                </path></svg>
                            </button>
                            {% if row['optimization_score_percentage']|int <30 %}
                            <span class="badge bg-success">OK</span>
                            {% elif row['optimization_score_percentage']|int <40 %}
                            <span class="badge bg-secondary">OK</span>
                            {% elif row['mean_exec_time']|int <50 %}
                            <span class="badge bg-warning text-dark">Warning</span>
                            {% else %}
                            <span class="badge bg-danger">Perf</span>
                            {% endif %}
                        </td>
                        
                        {% else %}
                        <td style="word-wrap: break-word;min-width: 10px;max-width: 360px; white-space: normal"></td>
                        {% endif %}
                       
                        {% endif %}
                        <td style="word-wrap: break-word;min-width: 10px;max-width: 360px; white-space: normal">      
                        {{ row[value] }}

                        </td>              
                   {% endfor %}                     
                  </tr>
                  {% endfor %}  
              </tbody>
          </table>
      </div>
    </div>
  </div>



<script id="dt1" src="{{ config.ASSETS_ROOT }}/js/jquery-3.7.1.js" ></script>
<!--<script id="dt2" src="{{ config.ASSETS_ROOT }}/js/bootstrap.bundle.min.js" ></script>-->
<script id="dt3" src="{{ config.ASSETS_ROOT }}/js/dataTables.js" ></script>
<!--<script id="dt4" src="{{ config.ASSETS_ROOT }}/js/dataTables.bootstrap5.js" ></script>-->


<script>
new DataTable('#topqueries', {
    order: [[10, 'desc']] // Tri sur la 2e colonne (index 1) en ordre décroissant
  });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
