{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ config.ASSETS_ROOT }}/css/dataTables.dataTables.css">
{% endblock stylesheets %}

{% block content %}

  <div class="py-4">

      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Tables statistics</h1>
              <p class="mb-0">Tables statistics ordered by average execution time</p>
          </div>


        </div>    
  </div>

<!--table statistics-->

<div class="card border-0 shadow mb-4">
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-striped" style="width:100%" id="topqueries">
              <thead class="thead-light">
                  <tr>
                      {% for row in table_stats[0] %}
                      <th>{{ row }}</th>                     
                      {% endfor %}
                  </tr>
              </thead>
              <tbody>
                  <!-- Boucle sur les données -->
                  {% for row in table_stats %}
                  <tr>
                      {% for key, value in row.items() %}
                          <td style="word-wrap: break-word; min-width: 10px; max-width: 360px; white-space: normal">
                              {% if key == "operation_type" and value is mapping %}
                                  <!-- Affichage avec badges Bootstrap -->
                                  {% for operation, count in value.items() %}
                                    {% if "SELECT" in operation %}
                                      <span class="badge bg-primary">
                                    {% elif "INSERT" in operation %}
                                      <span class="badge bg-success">
                                    {% elif "UPDATE" in operation %}
                                      <span class="badge bg-warning">
                                    {% elif "DELETE" in operation %}
                                      <span class="badge bg-danger">
                                    {% else %}
                                      <span class="badge bg-primary">
                                    {% endif %}                                                                                      
                                    {{ operation }} ({{ count }})</span>
                                  {% endfor %}
                              {% else %}
                                {% if key == "table_name" %}
                                  <a href="/topqueries.html?tablename={{ value | urlencode }}">
                                    {{ value }}
                                      <svg class="icon icon-xs text-gray-500 me-2" viewBox="0 0 20 20" data-slot="icon" fill="none" stroke-width="1.5" stroke="blue" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6"></path>
                                      </svg>
                                  </a>
                                {% else %}
                                  {{ value }}
                                {% endif %}
                              {% endif %}
                          </td>
                      {% endfor %}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>

<!-- ✅ column description -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
      <h5 class="mb-3">📌 Column Descriptions</h5>
      <ul class="list-group">
          <li class="list-group-item"><strong>📂 table_name:</strong> Name of the table being queried.</li>
          <li class="list-group-item"><strong>📊 query_count:</strong> Total number of queries executed on this table.</li>
          <li class="list-group-item"><strong>⏳ avg_execution_time:</strong> Average execution time of queries in seconds.</li>
          <li class="list-group-item"><strong>📈 rows:</strong> Total number of rows affected by queries.</li>
          <li class="list-group-item"><strong>📑 columns:</strong> List of columns involved in the queries in the WHERE clause.</li>
          <li class="list-group-item"><strong>🔄 operation_type:</strong> Types of SQL operations performed on this table (<span class="badge bg-primary">SELECT</span>,<span class="badge bg-success">INSERT</span>, <span class="badge bg-warning">UPDATE</span>, <span class="badge bg-danger">DELETE</span>).</li>
      </ul>
  </div>
</div>

<script id="dt1" src="{{ config.ASSETS_ROOT }}/js/jquery-3.7.1.js" ></script>
<!--<script id="dt2" src="{{ config.ASSETS_ROOT }}/js/bootstrap.bundle.min.js" ></script>-->
<script id="dt3" src="{{ config.ASSETS_ROOT }}/js/dataTables.js" ></script>
<!--<script id="dt4" src="{{ config.ASSETS_ROOT }}/js/dataTables.bootstrap5.js" ></script>-->


<script>
  new DataTable('#topqueries', {
      order: [[2, 'desc']] 
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
